rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to read comments and replies
    match /comments/{document} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.token.email == resource.data.authorEmail;
    }
    
    match /replies/{document} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.token.email == resource.data.authorEmail;
    }
    
    // Allow authenticated users to read and write post reactions
    match /postReactions/{document} {
      allow read: if true;
      allow create, update: if request.auth != null;
      allow delete: if request.auth != null;
    }
  }
}
